@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* COLOR */
.bg-cream {
    background-color: #f6f6e9;
}

.bg-brown {
    background-color: #7b3911;
}

.bg-orange {
    background-color: #dc661f;
}

.bg-grey-dark {
    background-color: #A0A0A0;
}

.bg-grey-light {
    background-color: #D9D9D9;
}

.grey-light{
    color: #D9D9D9;
}

.grey-dark {
    color: #A0A0A0;
}

.orange {
    color: #dc661f;
}


/* FONT */
body {
    font-family: Quicksand;
}

.same-line {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* CAROUSEL */

#carouselExampleControls {
    max-width: 600px; /* Définir la largeur maximale du carousel */
    margin: auto; /* Centrer le carousel horizontalement */
  }
  
  .carousel-inner .carousel-item img {
    height: 300px; /* Définir la hauteur des images */
    object-fit: cover; /* Redimensionner les images pour qu'elles remplissent la zone sans déformer l'aspect */
  }